{% extends 'solving/base.html' %}

{% load static %}
{% load ratings %}
{% load namify %}

{% block head %}
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
  <link rel="stylesheet" href="{% static 'solving/css/category.css' %}">
  <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-cente wrath-content-box">
    <div class="col-12 d-flex justify-content-center" >
      <h1 class="display-3">REGISTER</h1>
    </div>
    <div class="col-12 d-flex justify-content-center">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="well">
      <div class="col">
        <div class="col-12 d-flex justify-content-center" align="center">
          <form action="{% url 'signup' %}" method="post" class="form">
            {% csrf_token %}
            <div class="form-group">
              {{ form.username }}
            </div>
            <div class="form-group">
              <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-addon">@</div>
                {{ form.email }}
              </div>
            </div>
            <div class="form-group">
              {{ form.password1 }}
            </div>
            <div class="form-group">
              {{ form.password2 }}
            </div>
            <div class="form-group">
              {# Assumes you setup the password_reset view in your URLconf #}
              <p><a href="{% url 'login' %}">Login</a></p>
            </div>
            <div class="row align-items-center  justify-content-center">
              <div class="col-auto">
                <div class="form-group">
                  <button type="submit" class="btn btn-success btn-lg">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
