{% extends 'solving/base.html' %}

{% load namify %}

{% block breadcrumb %}
  <div class="text-center">
    <h2>{{ instance.name }}</h2>
    <ol class="breadcrumb">
      <li><a href="/solving/">Home</a></li>
      {% for i in instance.get_slug_list %}
         <li><a href="/solving/category/{{ i }}">{{ i | get_name }}</a></li>
      {% endfor %}
    </ol>
  </div>
{% endblock %}

{% block subcat %}
  {% if  instance.children.all %}
    <div class="container">
      <div class="row">
        {% for i in instance.children.all %}
          <div class="col-md-3">
            <a href="{{ i.slug }}"> {{ i.name }} </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <br><hr>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-12 col-md-auto">
    {% for i in exercices %}
        <div class="col">
          <div class="card">
            <div class="card-block">
              <a href="{{ i.slug }}"><h4 class="card-title">{{ i.title | truncatechars:30}}</h4></a>
              <h6 class="card-subtitle mb-2 text-muted">{{ i.pub_date }}</h6>

              <div class="card-section">
                <p>{{ i.content | safe | truncatechars_html:120 }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock %}
