{% extends 'solving/base.html' %}

{% load static %}
{% load ratings %}
{% load namify %}

{% block head %}
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
  <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'solving:index' %}">Home</a></li>

    {% for i in instance.get_slug_list %}
    <li><a href="{% url 'solving:category' i %}">{{ i | get_name }}</a></li>
    {% endfor %}
  </ol>
{% endblock %}

{% block subcat %}
  {% if  instance.children.all %}
    <div class="container">
      <div class="row">
        {% for i in instance.children.all %}
          <div class="col-md-3">
            <a href="{{ i.slug }}"> {{ i.name }} </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <br><hr>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-12 col-md-auto">
    {% for i in exercices %}
        <div class="col">
          <div class="card">
            <div class="card-block">
              <a href="{{ i.slug }}"><h4 class="card-title">{{ i.title | truncatechars:30}}</h4></a>
              <h6 class="card-subtitle mb-2 text-muted">{{ i.pub_date }}</h6>

              <div class="card-section">
                <p>{{ i.content | safe | truncatechars_html:120 }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="well">
        <div class="col">
          <div class="col" align="center">
            <h1 style="margin: 0px">New Exercice</h1>
          </div>
          <form action="{% url 'solving:postExercice' instance.id %}" method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{ form }}
            <!-- <div class="form-group">
              <label for="exampleFormControlTextarea1">Example textarea</label>
              <textarea class="form-control" name="content"  required id="id_content"></textarea>
            </div> -->
            <button type="submit" class="btn btn-success">
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
