{% load static %}

{% load ratings %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<html>
<head>
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
  <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</head>

<body>
<h1>{{ exercice.title }}</h1>

<p>
  {{ exercice.content }}
</p><br>

{% for solution in solutions %}
  <div style="border-style:solid">
    <h2 style="margin: 0px">{{ solution.title }}</h2>
    {% ratings solution 10 10%}
    <p>
      {{ solution.content }}
    </p>
  </div><br>
{% endfor %}

<h1 style="margin: 0px">New Comment</h1>
<form action="{% url 'solving:postSolution' exercice.id %}" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
</form>

</body>
</html>
