{% load static %}

{% load ratings %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<html>
<head>
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
  <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="well well-small">
        <h1 style="margin: 0px">{{ exercice.title }}</h1>
        <p>
          {{ exercice.content }}
        </p><br>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      {% for solution in solutions %}
      <div class="well well-small">
        <div class="col">
          <div class="col" align="center">
            <h2 style="margin: 0px">{{ solution.title }}</h2>
            {% ratings solution 10 10%}
          </div>
          <hr />
          <p>
            {{ solution.content }}
          </p>
        </div>
      </div><br>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="well">
        <div class="col">
          <div class="col" align="center">
            <h1 style="margin: 0px">New Comment</h1>
          </div>
            <form action="{% url 'solving:postSolution' exercice.id %}" method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
              <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Submit
              </button>
              {% endbuttons %}
            </form>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
