{% load static %}

{% load namify %}

{% load ratings %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<html>
<head>
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
  <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</head>

<body>

<ul class="breadcrumbs">
    <li><a href="/">Home</a></li>

    {% for i in instance.category.get_slug_list %}
       <li><a href="/category/{{ i }}">{{ i | get_name }}</a></li>
    {% endfor %}

</ul>

  <div class="container">
    <div class="row justify-content-center">
      <div class="well well-small">
        <h1 style="margin: 0px">{{ exercice.title }}</h1>
        <p>
          {{ exercice.content }}
        </p><br>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      {% for solution in solutions %}
      <div class="well well-small">
        <div class="col">
          <div class="col" align="center">
            <h2 style="margin: 0px">{{ solution.title }}</h2>
            <p class="text-muted">
              {{ solution.author }} | {{ solution.pub_date }}
            </p>
            {% ratings solution 10 10%}
            {%if user.is_authenticated and user == solution.author %}
              <form action="{% url 'solving:deleteSolution' solution.id %}" method="post">
                {% csrf_token %}
                {% buttons %}
                  <button  type="submit" class="btn btn-xs btn-danger">
                    {% bootstrap_icon "remove" %} Remove
                  </button>
                {% endbuttons %}
              </form>
            {% endif %}
          </div>
          <hr />
          <p>
            {{ solution.content }}
          </p>
        </div>
      </div><br>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="well">
        <div class="col">
          <div class="col" align="center">
            <h1 style="margin: 0px">New Solution</h1>
          </div>
            <form action="{% url 'solving:postSolution' exercice.id %}" method="POST" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
              <button type="submit" class="btn btn-success">
                {% bootstrap_icon "ok" %} Submit
              </button>
              {% endbuttons %}
            </form>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
