{% for i in instance %}
  <a href="{{ i.slug }}"> {{ i.name }} </a><br>
{% endfor %}

{% for i in exercices %}
 <h4>Posts</h4>
 <div class="row small-up-1 medium-up-3" >

  <div class="column">
   <a href="{{ i.slug }}">
     <div class="card" style="width: 300px; border-color: black">
        <div class="card-divider">
          <strong>{{ i.title | truncatechars:30}}</strong>
        </div>

        <div class="card-section">
         <small>{{ i.pub_date}} </small>
         <p>{{ i.content | safe | truncatechars_html:120 }}</p>
        </div>
     </div>
   </a>
  </div>
{% endfor %}
